body {
     background: #f6f6f6;
    font-size: .80em;
    font-family: "helvetica neue", "lucida grande", "segoe ui", arial, helvetica, verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #252525;
}

.header
{
    position: relative;
    margin : 0px;
    padding: 0px;
    background: #4A4A4A;
    width: 100%;
    height:55px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


.page
{
    width: 99%;    
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

/*Login
-----------------------------------------------*/

.login-form
{
    display:inline-block;
}



/*
    
    
    
    
    
    */

/* MISC  
----------------------------------------------------------*/

.login-button
{
    display:block;
    margin-top:5px;
    /*border:1px solid #ccc;*/
    padding:3px;
    width:20px;

}
#login-fields
{
    vertical-align:top;
    margin-left:10px;
    width:auto;
    min-width:250px;
}
.login-panel
{
    margin:0 auto;
    padding:0 auto;
    width:620px;
    min-height:250px;
    height:auto;
    background:#F6F6F6;
    border:1px solid #E3E3E3;
    padding:20px;
}