<div class="header">
    <div class="title">
        <h1>
            RRM | adcommand
        </h1>
    </div>
    @{
        if (ViewBag.isLogin == false)
        {
        
            @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "Logout";
                        settings.UseSubmitBehavior = true;
                        settings.RouteValues = new { Controller = "Account", Action = "Logout" };
                        settings.Attributes.Add("class", "logout-btn");
                        settings.Style.Add("float", "right");
                        settings.Style.Add("padding", "5px");
                        settings.Style.Add("margin-top", "-40px");
                        settings.Style.Add("margin-right", "5px");
                        settings.Text = "Logout";
                        settings.EnableClientSideAPI = true;
                    }).GetHtml()

        }
    }
</div>